#root {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

main {
    max-width: 40rem;
    padding: 2rem;

    > h1 {
        margin-bottom: 3rem;
        text-align: center;
        color: #efefef;
        background-clip: text;
        background-color: #666666;
        text-shadow: rgba(#f5f5f5, 0.5) 3px 5px 1px;

        @include mq($mq-tab--sml) {
            margin-bottom: 5rem;
        }
    }
}

img {
    width: 100%;
}
