/** Media query */
$mq-mob: rem(480px);
$mq-mob--lrg: rem(640px);

$mq-tab--sml: rem(768px);
$mq-tab--lrg: rem(820px);

$mq-desk--sml: rem(960px);
$mq-desk--med: rem(1200px);
$mq-desk--lrg: rem(1440px);
