.carousel {
    &__items {
        position: relative;
        padding: 0;
        list-style-type: none;
    }

    &__item {
        display: flex;
        flex-direction: column;

        &[data-is-active='false'] {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            pointer-events: none;
        }

        &[data-is-hidden='true'] {
            opacity: 0;
        }
    }

    &__content {
        position: relative;
        z-index: 1;
        margin: 0 1rem;
        padding: 1rem;
        border-radius: 1rem;
        transform: translateY(-3rem);
        box-shadow: rem(0px) rem(0px) rem(32px) rem(-4px) $color-gray-nickel;
        background: $gradient-light;
        overflow: hidden;

        @include mq($mq-tab--sml) {
            margin: 0 2rem;
            padding: 2rem;
        }

        &::before {
            z-index: 1;
            content: '';
            position: absolute;
            right: 0;
            bottom: 1rem;
            left: 0;
            height: 3rem;
            background: linear-gradient(to bottom, transparent 0%, $color-white 100%);

            @include mq($mq-tab--sml) {
                bottom: 2rem;
            }
        }
    }

    &__title {
        text-align: center;
        text-transform: uppercase;
        color: $color-primary;
    }

    &__copy {
        height: 6rem;
        overflow-y: auto;
        letter-spacing: 0.03rem;
        line-height: 1.4;
    }

    &__image {
        order: -1;
        height: 25rem;
        border-radius: 1rem;
        box-shadow: rem(0px) rem(0px) rem(32px) rem(-12px) $color-gray-nickel;
        object-fit: cover;
    }

    &__nav-button {
        width: calc(50% - 1rem);
        margin-right: 1rem;
        padding: 1rem;
        background: $gradient-light;
        border: none;
        border-radius: 1rem;
        box-shadow: rem(0px) rem(0px) rem(32px) rem(-12px) $color-gray-nickel;
        cursor: pointer;

        &:nth-of-type(2n) {
            margin-right: 0;
            margin-left: 1rem;
        }
    }
}
