.carousel {
    &__items {
        position: relative;
        padding: 0;
        margin-bottom: 3rem;
        list-style-type: none;
    }

    &__item {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        border-radius: 2rem;
        background: white;
        box-shadow:
            rem(20px) rem(20px) rem(60px) #d9d9d9,
            rem(-20px) rem(-20px) rem(60px) white;

        &[data-is-active='false'] {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            pointer-events: none;
        }

        &[data-is-hidden='true'] {
            opacity: 0;
        }
    }

    &__title {
        margin: 1rem 1rem 0 1rem;
    }

    &__copy {
        height: 8rem;
        padding: 0 1rem;
        overflow-y: auto;
    }

    &__image {
        order: -1;
        height: 20rem;
        object-fit: cover;
    }

    &__nav-button {
        width: calc(50% - 1rem);
        margin-right: 1rem;
        padding: 1rem;
        background-color: white;
        border: none;
        border-radius: 2rem;
        box-shadow:
            rem(20px) rem(20px) rem(60px) #d9d9d9,
            rem(-20px) rem(-20px) rem(60px) white;
        cursor: pointer;

        &:nth-of-type(2n) {
            margin-right: 0;
            margin-left: 1rem;
        }
    }
}
