.carousel {
    &__items {
        padding: 0;
        list-style-type: none;
    }

    &__item {
        display: flex;
        flex-direction: column;

        &[data-is-active='false'] {
            display: none;
        }
    }

    &__title {
        margin: 1rem 0 0 0;
    }

    &__copy {

    }

    &__image {
        order: -1;
    }

    &__nav-button {
        width: 50%;
        padding: 1rem;
        color: white;
        border: 1px solid white;
        background-color: black;
    }
}
